html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

.container{
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide iframe {
  display: block;
  width: 100%;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after{
  color: #fff;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.268);
}

.swiper .swiper-pagination {
  bottom: 0;
}

.swiper .swiper-pagination-bullets span {
  width: 10px;
  height: 10px;
  line-height: 15px;
  font-size: 14px;
  background-color: #fff;
}

.swiper-slide {
  position: relative;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    max-width: 800px;
    max-height: 800px;
    padding: 20px;
}

.popup-content .popup-pagination {
    bottom: 0;
}

.popup-content .popup-pagination span {
    width: 10px;
  height: 10px;
  line-height: 15px;
  font-size: 14px;
  background-color: #fff;
}